<div class="tickerMain">
	<div class="ticker-item ticker-tens">	
		<div class="cardWrapper c2">			
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/2a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/3b.png" />
				</div>
			</div>		
		</div>
		<div class="cardWrapper faker">			
			<div class="end a">
				<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
				<img  src="../_common/images/_ticker/3a.png" />
			</div>
			<div class="start a">
				<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
				<img  src="../_common/images/_ticker/2a.png" />
			</div>
			<div class="start b">
				<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
				<img class="num" src="../_common/images/_ticker/2b.png" />
			</div>


		</div>
		<div class="card-shadow top"></div>
		<div class="card-shadow bottom"></div>
		<img class="rings" src="../_common/images/_ticker/ticker_rings.png">

	</div>
	<div class="ticker-item ticker-ones">	
		<div class="cardWrapper c9">			
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/9a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/0b.png" />
				</div>
			</div>		
		</div>
		<div class="cardWrapper c8">
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/8a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/9b.png" />
				</div>
			</div>		
		</div>
		<div class="cardWrapper c7">
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/7a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/8b.png" />
				</div>
			</div>		
		</div>
		<div class="cardWrapper c6">
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/6a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/7b.png" />
				</div>
			</div>		
		</div>
		<div class="cardWrapper c5">
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/5a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/6b.png" />
				</div>
			</div>		
		</div>
		<div class="cardWrapper c4">
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/4a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/5b.png" />
				</div>
			</div>		
		</div>

		<div class="cardWrapper c3">
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/3a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/4b.png" />
				</div>
			</div>		
		</div>
		<div class="cardWrapper c2">
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/2a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/3b.png" />
				</div>
			</div>			
		</div>
		<div class="cardWrapper c1">
			<div class="card">
				<div class="cardFace front">
					<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
					<img class="num"  src="../_common/images/_ticker/1a.png" />
				</div>
				<div class="cardFace back">
					<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
					<img class="num"  src="../_common/images/_ticker/2b.png" />
				</div>
			</div>		
		</div>
		<div class="cardWrapper faker">			
			<div class="end a">
				<img class="bg"  src="../_common/images/_ticker/bg_a.png" />
				<img  src="../_common/images/_ticker/0a.png" />
			</div>
			<div class="start a">
				<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
				<img class="num" src="../_common/images/_ticker/1a.png" />
			</div>
			<div class="start b">
				<img class="bg"  src="../_common/images/_ticker/bg_b.png" />
				<img class="num" src="../_common/images/_ticker/1b.png" />
			</div>


		</div>
		<div class="card-shadow top"></div>
		<div class="card-shadow bottom"></div>
		<img class="rings" src="../_common/images/_ticker/ticker_rings.png">
	</div>
	
</div>