<div id="legalBtn"></div>
<div id="legalContent">
        

LOTTO MAX Dream Big Contest begins at 3:00AM EDT September 8, 2025, and ends at 3:00PM EDT October 20, 2025. Open to all residents of Canada who are of legal age to purchase lottery products in their respective province or territory. There are Thirty (30) weekly prizes of $10,000 and One (1) grand prize of $1 Million available to be won, with a total ARV of $2,800,000 CAD. Odds of winning depend on number of entries received. No purchase necessary. For full details and contest rules, visit www.olg.ca/dreambig.



        </div>
        