<div id="legalBtn"></div>
<div id="legalContent">
        No purchase necessary. Contest opens Sept 5 at 3:00 AM and ends Oct 21, 2024 at 3:00 PM ET.  Open to all residents of Canada who are of legal age to purchase lottery products in their respective province or territory. Thirty weekly prizes of $10,000 and one grand prize of $1 million CAD available to be won. Odds of winning any prize depend on number of entries received during the relevant period from all participating provinces. Visit https://www.olg.ca/dreambig for full contest rules and details.





        </div>
        